.aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 90vh;
    background-color: #ffffff;
}

.aboutSection__container {
    margin-left: 10rem;
    flex: 1;
    max-width: 500px;

}

.aboutSection__textsContainer {
    display: flex;
    justify-content: left;

}

.aboutSection__name {
    font-size: 40px;
    background: -webkit-linear-gradient(90deg, #1f1f71 0%, #333aac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutSection__nameSpan {
    color: black;
    font-size: 40px;
    margin-right: 0.51rem;
}

.aboutSection__p {
    width: 82%;
    line-height: 30px;
    font-size: 15px;
}

.aboutSection__line {
    border: 1px solid rgba(0, 0, 0, 0.082);
    width: 10%;
    margin-top: 2rem;
}

.aboutSection__photo {
    max-height: 450px;
    min-height: 50px;
    align-self: flex-end;


}

/* PHONES */
@media only screen and (max-width: 915px) {
    .aboutSection__photo {
        display: none;
    }

    .aboutSection__container {
        margin-left: 2rem;
        flex: 1;
        max-width: 500px;

    }

    .aboutSection__textsContainer {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;

    }

    .aboutSection__name {
        margin: 0;
        padding: 0;

    }

    .aboutSection__nameSpan {
        margin: 0;
        padding: 0;
        margin-bottom: 1rem
    }
}