.contactSection {
    background-color: white;
  }
  
  .titleContact {
    margin: 0;
    padding-top: 3rem;
    text-align: center;
  }
  
  .footer__sectionFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .footer__sectionAboutIcons {
    margin-left: 1rem;
    cursor: pointer;
  }
  
  .twitter:hover {
    color: #1b9cef;
  }
  
  .linkedin:hover {
    color: #0c65c2;
  }
  
  .github:hover {
    color: #1b1f239d;
  }